@use "./size" as size;

@keyframes tp__pulse-bg {
  0% {
    background-color: var(--pulse-color-1);
  }
  50% {
    background-color: var(--pulse-color-2);
  }
  100% {
    background-color: transparent;
  }
}

.tp__pulse {
  animation: tp__pulse-bg 500ms ease-out;
}

.tp__error-text {
  color: var(--attention-color);
  font-size: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--scrollbar-track-shadow);
  border-radius: var(--scrollbar-border-radius);
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-width);
  background-color: var(--scrollbar-handle-color);
}

button {
  cursor: pointer;
}

.tp__hidden {
  display: none !important;
}

select {
  padding: 2px 4px;
}

:not(input[type="text"]) {
  caret-color: transparent;
}

input[type="text"] {
  caret-color: auto;
}

option {
  cursor: pointer;
}

.tp__delete_action {
  color: var(--attention-color) !important;
  fill: currentcolor !important;
}

.tp__update_action {
  color: var(--active-color) !important;
  fill: currentcolor !important;
}

.svg-icon {
  pointer-events: none;
  width: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
}

li {
  background: transparent;
}

.tp__full-width {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}

.tp__full-height {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
}

.disabled {
  pointer-events: none;
  color: var(--hint-color);
}

.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

@media (max-width: size.$mobile-breakpoint) {
  h1 {
    font-size: 1.1rem;
  }
}

.tp__unauthorized {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tp__inline-toolbar {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap-micro);
  box-sizing: border-box;

  .tp__icon-button {
    &:hover {
      background-color: var(--icon-button-hover-background-color);
      border-radius: 50%;
    }
  }
}
