.tp__country {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-mini);
  min-width: 0;
  flex: 0 1 auto;

  &__name {
    min-width: 0;
  }

  &__flag {
    display: inline-flex;
    width: 1.5rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 2px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}