.tp__particle-flow-background,
.tp__floating-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  isolation: isolate;
  background: linear-gradient(180deg, var(--particle-flow-background-color-alt) 7%, var(--particle-flow-background-color) 100%);
}
