.tp__radio-button-group {
  display: flex;
  flex-flow: row nowrap !important;
  button {
    margin: 0;
  }

  &__selected, &__selected:focus {
    background-color: var(--text-button-active-background-color);
    color: var(--text-button-active-color);
    border-color: var(--text-button-active-border-color);
    z-index: 1;
  }

  button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:not(:first-child) {
    margin-left: -1px;
  }

}
