.tp__action-card {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  flex: 1 1 auto;
  gap: var(--gap-default);
  fill: var(--card-color);
  box-sizing: border-box;
  max-width: var(--action-card-width);

  &__icon {
    fill: inherit;
    width: var(--dashboard-card-icon-width);
    max-width: var(--dashboard-card-icon-width);

    img {
      width: var(--dashboard-card-icon-width);
      max-width: var(--dashboard-card-icon-width);
      object-fit: contain;
    }
    .svg-icon {
      width: var(--dashboard-card-icon-width);
      height: var(--dashboard-card-icon-width);
      max-width: var(--dashboard-card-icon-width);
      max-height: var(--dashboard-card-icon-width);
    }
  }

  &__main {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    flex: 1 1 auto;
    gap: var(--gap-small);
  }

  &__body {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    flex: 1 1 auto;
    gap: var(--gap-small);
  }

  &__title {
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--font-size-md);
  }

  &__content {

  }

  .tp__text-button {
    span {
      white-space: nowrap;
    }
  }
}
